<table mat-table *ngIf="dataSource" [dataSource]="dataSource" class="mat-elevation-z8 width-full">


    <ng-container matColumnDef="displayName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
    </ng-container>

    <ng-container matColumnDef="technicalName">
        <th mat-header-cell *matHeaderCellDef> Technical Name </th>
        <td mat-cell *matCellDef="let element"> {{element.technicalName}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="expiresOn">
        <th mat-header-cell *matHeaderCellDef> Expires on </th>
        <td mat-cell *matCellDef="let element"> {{element.expiresOn}} </td>
    </ng-container>

    <ng-container matColumnDef="inverted">
        <th mat-header-cell *matHeaderCellDef> Inverted </th>
        <td mat-cell *matCellDef="let element"> {{element.inverted}} </td>
    </ng-container>

    <ng-container matColumnDef="customerIds">
        <th mat-header-cell *matHeaderCellDef> Customer Ids </th>
        <td mat-cell *matCellDef="let element"> {{element.customerIds}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef id="actions">Edit</th>
        <td mat-cell *matCellDef="let element">
            <a [routerLink]="['edit/'+element.id]"><span class="material-icons"> mode_edit
                </span></a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>