body {
	font-size: 15px;
	background-color: #f8f8f8 !important;
	font-family: TheSans, sans-serif;
	text-align: justify;
	line-height: 1.6rem;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}